.hangman-area {
  margin: 2rem;
}
.guess-history {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2rem;
}
.masked-letter-area {
  padding: 2rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: whitesmoke;

  &.whole-word {
    background: darkslategray;
  }
  &.guessed-letter,
  &.lives-left-indicator,
  &.game-status-indicator {
    background: darkcyan;
    height: 10rem;
  }

  .masked-letter {
    margin-right: 1rem;
  }
}

.secret-info,
.current-game-info,
.main-control-area {
  display: flex;
  flex-direction: row;

  & > section {
    flex-grow: 1;
  }
}

.main-control-area {
  .main-control-btn {
    color: whitesmoke;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem 0.2rem;
    border-radius: 0.3rem;
    background-color: darkslateblue;

    &:disabled {
      background-color: lighten(darkslateblue, 20%);
      cursor: not-allowed;
    }
  }
}
