.hangman-area {
  margin: 2rem;
}
.guess-info {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;

  & .guessed-letter,
  & .guess-secretword {
    border-radius: 0.3rem;
    background-color: whitesmoke;
    padding: 1rem;
  }
  & .guessed-letter {
    margin-left: 1rem;
  }
}
.masked-letter-area {
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: whitesmoke;

  &.whole-word {
    background: darkslategray;
  }
  &.guessed-letter,
  &.lives-left-indicator,
  &.game-status-indicator {
    background: darkcyan;
  }

  .masked-letter {
    margin-right: 1rem;
  }
}

.secret-info,
.current-game-info,
.main-control-area {
  flex-grow: 1;
}

.current-game-control {
  background-color: lighten(darkslateblue, 50%);
  padding: 2rem 0;
}

.main-control-area {
  margin: 1rem 0;
  .main-control-btn {
    color: whitesmoke;
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5rem 0.2rem;
    border-radius: 0.3rem;
    background-color: darkslateblue;

    &:first-child {
      margin-right: 1rem;
    }
    &:disabled {
      opacity: 0.3;
      background-color: lighten(darkslateblue, 20%);
      cursor: not-allowed;
    }
  }
}
