<div class="hangman-area">
  <app-canvas
    [gameStatus]="gameOverStatus$ | async"
    [totalGuesses]="totalGuesses$ | async"
    [wrongGuesses]="wrongGuesses"
    [maxGuesses]="maxGuesses"
  ></app-canvas>
  <section class="guess-info d-flex justify-content-center">
    <div *ngIf="(errorMessage$ | async) === null" class="d-flex">
      <span class="guess-secretword">Hint: {{ secretWord }}</span>
      <span
        class="guessed-letter"
        *ngFor="let guessedLetter of charGuessedList$ | async"
        >{{ guessedLetter }}</span
      >
    </div>
    <span *ngIf="errorMessage$ | async as errorMsg" class="alert alert-danger">
      Error Message: {{ errorMsg.message }}
    </span>
  </section>
</div>
<div class="secret-info d-flex flex-column">
  <section class="masked-letter-area whole-word col-12">
    <span>Secret Passcode:</span>
    <div>
      <span
        class="masked-letter"
        *ngFor="let wordLetter of maskedWordProgression"
        >{{ wordLetter }}</span
      >
    </div>
  </section>
</div>

<div class="current-game-info d-flex flex-wrap">
  <section class="masked-letter-area guessed-letter col-6">
    <span> Your Guess: </span>
    <div>
      <span>'{{ charInput || '(Choose a key)' }}'</span>
    </div>
  </section>
  <section
    class="masked-letter-area lives-left-indicator col-6"
    *ngIf="maxGuesses - wrongGuesses > 0"
  >
    <span>Chances Left: </span>
    <div>
      <span>
        {{ maxGuesses - wrongGuesses }}
      </span>
    </div>
  </section>
  <section
    class="main-control-area justify-content-center d-flex flex-wrap flex-sm-row"
  >
    <button
      class="main-control-btn col-3"
      (click)="makeGuess()"
      [disabled]="!charInput || (gameOverStatus$ | async) !== 'INACTIVE'"
    >
      Make Guess
    </button>
    <button
      class="main-control-btn col-3"
      (click)="restartGame()"
      [disabled]="(totalGuesses$ | async) < 1"
    >
      Restart
    </button>
  </section>
</div>
<div class="current-game-control flex-container">
  <section class="key-input-area col-12 col-md-8">
    <app-keypad
      [isDisableAllKeys]="
        (errorMessage$ | async) || (gameOverStatus$ | async) !== 'INACTIVE'
      "
    ></app-keypad>
  </section>
</div>
