.keypad-row {
  padding: 1rem;
  background: lightcyan;
}

.keypad-btn {
  margin: 0.5rem;
  padding: 2rem;
  width: 84px;
  border-radius: 0.5rem;
  font-size: 2rem;
  line-height: 1rem;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  background: darkslateblue;

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
}
