/* You can add global styles to this file, and also import other style files */
// Font styles
@font-face {
  font-family: lato;
  src: url(assets/fonts/Lato-Regular.ttf) format('truetype');
  src: url(assets/fonts/Lato-Bold.ttf) format('truetype');
}

// Base selector styles
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', serif;
}
header {
  padding: 2rem;
  background: darkslategrey;
  color: whitesmoke;
}
.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkslateblue;
}
.row {
  width: auto;
}
li {
  list-style-type: none;
}

// Libraries

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/utilities';
